{{ 'component-pagination-product.css' | asset_url | stylesheet_tag }}
{%- comment -%} Product age pagination:
https://community.shopify.com/c/shopify-design/how-to-add-next-previous-links-on-the-product-page/td-p/450481
{%- endcomment -%}
{% assign next_product_url = collection.next_product.url %}
{% assign previous_product_url = collection.previous_product.url %}


<div class="product-nav">
    <span class="product-nav-btn">
        {% if collection.previous_product %}
        <a href="{{ previous_product_url }}" class="button button-product-nav button--secondary">
            <span style="font-size: 50px;">&larr;</span>
            {{ collection.previous_product.featured_media | image_url: width: 150 | image_tag }}
            {{ collection.previous_product.title }}
        </a>
        {% endif %}
    </span>
    <span class="product-nav-btn">
        {% for collection in product.collections %}
            <a href="/collections/{{ collection.handle }}" class="button button-product-nav button--primary button-return">{% render 'icon-return' %} Return to <br><em>{{ collection.title }}</em></a>
        {% endfor %}
    </span>
    <span class="product-nav-btn">
        {% if collection.next_product %}
        <a href="{{ next_product_url }}" class="button button-product-nav button--secondary">
            {{ collection.next_product.title }}
            {{ collection.next_product.featured_media | image_url: width: 150 | image_tag }}
            <span style="font-size: 50px;">&rarr;</span>
        </a>
        {% endif %}
    </span>
</div>
