<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
{% if page.handle == 'passport' %}
  <link rel="stylesheet" href="https://use.typekit.net/dsj0sdc.css">
  <style>
    body,
    body.gradient {
      background-image: url("https://cdn.shopify.com/s/files/1/0524/2555/6159/files/the-nacelle-store-Passport-pattern.png?v=1643205992");
      background-attachment: scroll;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    .h0,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .button {
      font-family: diazo-mvb-cond,sans-serif;
      font-weight: 700;
      font-style: normal;
    }
    p,
    label,
    input,
    .link {
      font-family: diazo-mvb-cond,sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  </style>
{% endif %}

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width page-width--narrow">
  {% unless section.settings.hide_title %}
    {% if section.settings.alt_title != blank %}
      <h2 class="main-page-title page-title">
        {{ section.settings.alt_title }}
      </h2>
    {% else %}
      <h1 class="main-page-title page-title h0">
        {{ page.title | escape }}
      </h1>
    {% endif %}
  {% endunless %}
  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "alt_title",
      "label": "Alternate title",
      "info": "Change the default page title."
    },
   {
     "type": "checkbox",
     "id": "hide_title",
     "label": "Hide title",
     "default": false
   }
  ]
}
{% endschema %}
